.task-list {
    -fx-box-border: transparent;
}

.solve-task-completed {
    -fx-background-color: #d6f5d6;
}

.solve-task-skipped {
    -fx-background-color: #ffffb3;
}

.solve-task-errored {
    -fx-background-color: #ffcccc;
}

.solve-task-cfg-found {
    -fx-background-color: #ccdbff;
}

.text-field {
    -fx-text-box-border: transparent;
}
